.users {
  &__content {
    max-width: 750px;
    margin: 0 auto;
    margin-top: 25px;
    @media (max-width: 1600px) {
      padding: 0 calc(5px + (15 - 5) * ((100vw - 320px) / (1600 - 320)));
    }

    &-list {
      .list-item {
        display: flex;
        align-items: flex-start;
        flex-direction: column;

        margin-top: 10px;
        padding: 10px;
        border: 1px solid #b1b1b1;
        border-radius: 5px;
        position: relative;
        &-block {
        }

        .block {
          display: flex;
          margin-top: 7.5px;
          &:first {
            margin: 0;
          }
          &-title {
            font-size: 16px;
            margin: 0;
          }
          &-value {
            font-size: 16px;
            margin: 0;
          }
        }
        .panel {
          position: absolute;
          top: 5px;
          right: 5px;
        }
      }
    }
  }
}

.mat-menu-button {
  display: flex;
  align-items: center;
}
